<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		<%= locals.title %>
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="/css/home.css">
	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1 id ="page-heading"><i class="fa-solid fa-address-book"></i> My Contacts List</h1>

	<div>
		<ul>
			<%  for (let i of contact_List) { %>
				<li>
					<p><%= i.name %></p>
					<p><%= i.phone %></p>
					<p><a href="/delete-contact/?id=<%= i._id %>">
					<i class="fa-solid fa-trash" style="color: grey;"></i></a></p>
				</li>

				
			<% } %>
		</ul>
	</div>
	<form action="/create-contact" method="post" class="form">
		<input type="text" name="Name" placeholder="Name" required>&nbsp;&nbsp;&nbsp;
		<input type="text" name="phone" placeholder="Enter Phone Number" required>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="submit" class="btn">Add</button>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	<script src="/JS/home.js"></script>

</body>
</html>